{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
        <div class="myStyleForm">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                <p style="margin-top: 10px"><a style="margin-right: 15px; color: #3897f0" href="{{ path('mainPage') }}">Лента</a>
                <a style="color: #3897f0" href="{{ path('app_posts_myprofile') }}">Мой профиль</a></p>
        </div>
    </div>
{% endblock fos_user_content %}
