{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
    <div class="myStyleForm">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input class="register_submit" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>