{% extends "base.html.twig" %}

{% block title %}AppBundle:Posts:addPost{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="logo">
                <a href="{{ path('mainPage') }}">
                    <img src="{{ asset('img/logo.png') }}">
                </a>
                <div class="profile_links">
                    <a href="{{ path('fos_user_security_logout') }}">Выйти</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1 class="profile_title" style="margin-top: 20px;">Мой Профиль</h1>

        <div class="info">
            <p>Имя:  <span>{{ currentUser.username }}</span></p>
            <p>E-mail:  <span>{{ currentUser.email }}</span></p>
        </div>
        <hr>
        <h1 class="profile_title">Добавить новый пост</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <hr>
        <h1 class="profile_title">Мои публикации</h1>
        {% for post in currentUser.getPost %}
            <div class="block" style="margin-bottom:20px;">
                <img src="{{ vich_uploader_asset(post, 'imageFile')}}">
                <p>likes: {{ post.likers }}</p>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
        <hr>
        <h1 class="profile_title">Публикации других пользователей</h1>
        {% for friendPosts in friendPost %}
            {% for follow in friendPosts.getPost %}
            <div class="block" style="margin-bottom:20px;">

                <img src="{{ vich_uploader_asset(follow, 'imageFile')}}">
                <p> Author: {{ follow.authorUserId.author }}</p>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
