{% extends "base.html.twig" %}

{% block title %}My Instagram | Main Page{% endblock %}

{% block body %}
    <div class="indexPage">
        <div class="container">
            <div class="leftSide">
                <img src="{{ asset('img/indexPageImg.png') }}">
            </div>
            <div class="rightSide">
                <div class="box">
                    <img src="{{ asset('img/mainPageInstagram.png') }}">
                    {#{% if app.user %}#}
                        {#<p><a href="{{ path('mainPage') }}">Лента</a></p>#}
                        {#<p><a href="{{ path('app_posts_addpost') }}">Мой профиль</a></p>#}
                    {#{% else %}#}
                        <p><a href="{{ path('fos_user_security_login') }}">Войти</a></p>
                    {#{% endif %}#}
                </div>
                <div class="box reg">
                    Еще нет аккаунта? <a href="{{ path('fos_user_registration_register') }}">Зарегистрируйтесь</a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
{% endblock %}
