{% extends "base.html.twig" %}

{% block title %}My Instagram | Main Page{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="logo">
                <a href="{{ path('mainPage') }}">
                    <img src="{{ asset('img/logo.png') }}">
                </a>
                <div class="profile_links">
                    <a style="margin-right: 10px;" href="{{ path('app_posts_myprofile') }}">Мой профиль</a>
                    <a href="{{ path('fos_user_security_logout') }}">Выйти</a>
                </div>
            </div>
        </div>
    </header>


<div class="container">
    {% for post in all_post %}
        <div class="block">
            <div class="like_block">
                {% if post.hasLikers(current_user) %}
                    <div style="width: 30px; height: 30px; padding-top: 4px; float: left"></div>
                {% else %}
                    <a style="float:left; margin-left: 20px;" href="{{ path('like', {'id' : post.getId}) }}">
                        <img style="width: 30px; height: 30px;" src="{{ asset('img/like.png') }}">
                    </a>
                {% endif %}
                <p style="float: left; margin-top: 10px; margin-left: 7px;">likes: {{ post.likers }}</p>



                {% if current_user.hasFollows(post.authorUserId) %}
                    <div style="width: 30px; height: 30px; padding-top: 4px; float: left"></div>
                {% else %}
                    <p style="float: left; margin-top: 10px; margin-left:20px;"><a style="padding: 5px 20px; text-decoration: none; border-radius: 7px; color: #ffffff; background: #F5871F;" href="{{ path('followed', {'id': post.authorUserId.id}) }}">Зафолловить</a> </p>
                {% endif %}

                <p style="float: right; margin-top: 10px; margin-right: 10px; color: #333333;">Author: {{ post.authorUserId.author }}</p>

            </div>
            <img src="{{ vich_uploader_asset(post, 'imageFile')}}">
            <div class="description">
                <p>{{ post.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
