*{
    padding: 0;
    margin: 0;
}
body{
    background: #fafafa;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
header{
    border-bottom: 1px solid rgba(0,0,0,.0975);
    padding: 10px 40px;
    background: #fff;
}
.logo{
    background: #fff;
}
.logo a{
    background: #fff;
}
.block{
    float: left;
    position: relative;
    width: 500px;
}
.description{
    overflow: hidden;
    width: 500px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.like_block{
    position: absolute;
    bottom: 58px;
    left: 0;
    width: 100%;
    background: #aacd4e;
    opacity: 0.9;
    padding: 10px 0;
}
.block img{
    width: 500px;
    height: auto;
}
.info{
    padding: 0 20px 20px;
}
.info p{
    color: #333;
}
.info span{
    color: #3897f0;
}
.profile_title{
    font-size: 30px;
    color: #6b9311;
    font-weight: normal;
    margin-bottom: 30px;
}
hr{
    margin-bottom: 30px;
}
.leftSide{
    width: 500px;
    float: left;
    box-sizing: border-box;
    margin-top: 30px;
}
.leftSide img{
    margin-left: 60px;
}
.rightSide{
    width: 500px;
    float: left;
    margin-top: 50px;
}
.box{
    border: 1px solid #E0E0E0;
    padding: 15px;
    width: 350px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.box p{
    padding: 7px 12px;
    background: #3897f0;
    border-color: #3897f0;
    margin: 8px 80px;
    border-radius: 5px;
}
.box p a{
    color: #fff;
    text-decoration: none;
}
.box a{
    color: #3897f0;
    text-decoration: none;
}
.myStyleForm{
    margin: 70px auto 0;
    width: 700px;
    border: 1px solid #E0E0E0;
    padding: 40px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 33px 65px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 33px 65px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 33px 65px -11px rgba(0,0,0,0.75);
}
.login_text{
    font-size: 14px;
    color: #3897f0;
    text-transform: uppercase;
    width: 100px;
    display: inline-block;
}
.login_input{
    padding: 5px;
    height: 10px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #F5871F;
}
.login_submit{
    padding: 10px 40px;
    color: #ffffff;
    font-size: 14px;
    background: #3897f0;
    border: none;
    border-radius: 5px;
    margin-left: 250px;
}
.myStyleForm label{
    display: inline-block;
    width: 130px;
}
.myStyleForm #fos_user_registration_form input{
    padding: 5px;
    height: 10px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #F5871F;
}
.myStyleForm .register_submit{
    padding: 10px 40px;
    color: #ffffff;
    font-size: 14px;
    background: #3897f0;
    border: none;
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 20px;
}
.required{
    width: 100px;
    display: inline-block;
}
#app_bundle_add_post_type_description{
    padding: 5px;
    height: 100px;
    width: 70%;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #F5871F;
    vertical-align: middle;
}
#app_bundle_add_post_type_save{
    padding: 10px 40px;
    color: #ffffff;
    font-size: 14px;
    background: #3897f0;
    border: none;
    border-radius: 5px;
    margin-left: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.profile_links{
    float: right;
    margin: 20px 50px 0 0;
}
.profile_links a{
    color: #3897f0;
    text-decoration: none;
}
