{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
        <div class="myStyleForm">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <span class="login_text">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                </span>
                <input class="login_input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <br>
                <span class="login_text">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                </span>
                <input class="login_input" type="password" id="password" name="_password" required="required" />
                <br>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <br>
                <input class="login_submit" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                <br>
                <a style="color: #3897f0;" href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}
